# DAILY MAUTIC TASKS
0    1    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:iplookup:download >> /var/www/{{HOSTNAME}}/cron.log 2>&1 

# 10-MINUTE MAUTIC TASKS
0,10,20,30,40,50    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:email:fetch >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
1,11,21,31,41,51    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:social:monitoring >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
2,12,22,32,42,52    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:webhooks:process >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
3,13,23,33,43,53    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:maintenance:cleanup --days-old=365 >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
# UNCOMMENT FOR SUITECRM
# 4,14,24,34,44,54    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:integration:fetchleads --integration=Sugarcrm --time-interval="15 minutes" >> /var/www/{{HOSTNAME}}/cron.log 2>&1 

# 5-MINUTE MAUTIC TASKS
0,5,10,15,20,25,30,35,40,45,50,55    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:segments:update >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
1,6,11,16,21,26,31,36,41,46,51,56    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:campaigns:rebuild >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
2,7,12,17,22,27,32,37,42,47,52,57    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:campaigns:trigger >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
3,8,13,18,23,28,33,38,43,48,53,58    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:emails:send >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
4,9,14,19,24,29,34,39,44,49,54,59    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:broadcasts:send >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
# UNCOMMENT FOR SUITECRM
# 0,5,10,15,20,25,30,35,40,45,50,55    *    *    *    *     php /var/www/{{HOSTNAME}}/html/app/console mautic:integration:pushleadactivity --integration=Sugarcrm >> /var/www/{{HOSTNAME}}/cron.log 2>&1 
